<section class="columns has-text-centered story-content">
  <section class="column is-offset-3 is-6">
    <h1 class="title"> <%= @story.title%> </h1>

    <span class="profile" data-controller='followuser'>
      <%= avatar(@story.user,size:[50,50])%>
      <span class="username"> <%= @story.user.username %> </span>
      <%= link_to '#',class: 'follow-button',
                               data: {action: 'followuser#follow', 
                                      user: @story.user.id, 
                                      target: 'followuser.followButton'
                                     } do %>
        <%= (user_signed_in? && current_user.follow?(@story.user)) ? 'Followed' : 'Follow' %>
      <% end %>
    </span>

    <article class="content">
      <%= cover_image(@story,size: [1000,500]) %>
      <%= simple_format(@story.content) %>

      <footer data-controller="story">
        <%= link_to "#", class: 'clapButton is-size-5 has-text-primary',data:{action:'story#addClap',slug: @story.slug} do%>
          <i class="fa-solid fa-hands-clapping"></i>
          <span class="clapCount" data-target="story.clapCount"><%= @story.clap%></span>
        <% end %>
      </footer>
    </article>
    <hr>
    <section class="comments">
      <h2>留言</h2>

      <%= render 'comment_area', story: @story, comment: @comment%>

      <section class="comment-list">
        <%= render partial:'comment', collection: @comments%>
      </section>
    </section>
  </section>
</section>