<% if story.errors.any? %>
  <div class="notification is-danger">
    <%= story.errors.full_messages.to_sentence %>
  </div>
<% end %>

<%= form_for(story) do |f|%>
  <%= f.label :title,'標題' %>
  <%= f.text_field :title,class:'input is-primary is-medium' %>

  <%= f.label :content,'文章內容' %>
  <%= f.text_area :content,rows: 10, class:'textarea is-primary is-medium' %>
  <hr>
  <%= f.submit '儲存草稿',name:'save_as_draft',class:'button is-dark is-medium'%>
  <%= f.submit '發布文章',name:'publish_draft',class:'button is-primary is-medium' if story.may_publish? %>
  <%= f.submit '文章下架',name:'unpublish',class:'button is-danger is-medium' if story.may_unpublish? %>
<% end %>